<section class="container">
  <button [routerLink]="['/']" class="btn btn-warning my-4">Ver Todos</button>
  <div *ngIf="player" class="row align-items-center">
    <!-- Columna de Video -->
    <div class="col-lg-6 col-md-12 mb-4">
      <app-media-component [player]="player"></app-media-component>
    </div>

    <!-- Columna de Texto -->
    <div class="col-lg-6 col-md-12">
      <h1>{{ player.name }}</h1>
      <h4><b>Número:</b> {{ player.num }}</h4>
      <p *ngIf="player.anillos"><b>Anillos NBA:</b> {{ player.anillos }}</p>
      <p *ngIf="!player.anillos"><b>Anillos NBA:</b> Ninguno</p>
      <p><b>Posición:</b> {{ player.position }}</p>
      <p><b>Edad:</b> {{ player.age }}</p>
      <p><b>Descripción:</b> {{ player.description }}</p>
      <div class="">
        <button type="button" class="btn btn-outline-dark" (click)="openModal()">Editar información <i class="fa-solid fa-pen-to-square"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="!player">
    <p>Cargando datos del jugador...</p>
  </div>
</section>

<!-- Componente de edición de jugador -->
<app-edit-player
  *ngIf="modalOpen"
  [player]="player"
  (cerrarModal)="closeModal()"
></app-edit-player>
