.bord {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.3);
}

.description {
    max-height: 200px; 
    overflow-y: auto; 
    line-height: 1.5; 
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .desc1:hover {
    border-color: rgb(196, 196, 196);
    
  }

  .desc1{
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-color: rgb(128, 128, 128);
  }

  .cambis{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  